body {
  text-align: center;
  font-family: Helvetica; sans-serif;

}
h1 {
  font-weight: bold;
  font-size: 100px;
  color: white;
}
.header {
  background-color: black;
}
.body {
  background-image: url(C:\Users\Leenab\Desktop\Projects\genius\images\crook & flail.jpg);
}
